{% extends 'journal/base.html' %}
{% block body %}

    <div id="calendar"></div>

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                contentHeight: "auto",
                events: {{ trade_events|safe }},
            });
            calendar.render();
        });
    </script>
{% endblock %}

{% endblock %}