{% extends 'journal/base.html' %}
{% block body %}
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-center" style="margin-top: 10px;">
        <a href="{% url 'journal:newEntry' %}" class="btn btn-primary">New Trade Entry</a>
    </div>

    <div class="filter-container">
        <form method="GET">
            {% csrf_token %}
            <div class="row">
                <!-- Framework Filter -->
                <div class="filter-field col-md-4">
                    <label for="framework" class="form-label">Framework</label>
                    <select id="framework" name="framework" class="form-control">
                        <option value="">All</option>
                        {% for value, label in frameworks %}
                            <option value="{{ value }}" {% if request.GET.framework == value|stringformat:"d" %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-field col-md-4">
                    <label for="strategy" class="form-label">Strategy</label>
                    <select id="strategy" name="strategy" class="form-control">
                        <option value="">All</option>
                        {% for value, label in strategies %}
                            <option value="{{ value }}" {% if value == request.GET.strategy %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-field col-md-4">
                    <label for="result" class="form-label">Result</label>
                    <select name="result" class="form-control">
                        <option value="">All</option>
                        <option value="positive" {% if 'positive' == request.GET.result %}selected{% endif %}>Win</option>
                        <option value="negative" {% if 'negative' == request.GET.result %}selected{% endif %}>Loss</option>
                    </select>
                </div>
            </div>

            <div class="mt-3 text-center ">
                <a href="{% url 'journal:home' %}" class="btn btn-secondary mr-3">Clear Filters</a>
                <button type="submit" class="btn btn-primary ml-3">Apply Filters</button>
            </div>
        </form>
    </div>


    <div class="table-container">
        {% if user_entries %}
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Ticker</th>
                    <th>Sector</th>
                    <th>Float</th>
                    <th>Trade Period</th>
                    <th>Framework</th>
                    <th>Strategy</th>
                    <th>Entry Price</th>
                    <th>Exit Price</th>
                    <th>Quantity</th>
                    <th>Result</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for trade in user_entries %}
                <tr>
                    <td>{{ trade.date }}</td>
                    <td>{{ trade.ticker }}</td>
                    <td>{{ trade.sector }}</td>
                    <td>{{ trade.float }}</td>
                    <td>{{ trade.trade_period }}</td>
                    <td class="text-center">{{ trade.framework }}</td>
                    <td>{{ trade.strategy }}</td>
                    <td>${{ trade.entry_price }}</td>
                    <td>${{ trade.exit_price|default:"-" }}</td>
                    <td>{{ trade.quantity }}</td>
                    <td>
                        {% if trade.calculate_result %}
                            <span class="{% if trade.calculate_result > 0 %}positive{% else %}negative{% endif %}">
                                ${{ trade.calculate_result }}
                            </span>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <div class="d-flex gap-2 justify-content-center">
                            <a href="{% url 'journal:editEntry' trade.id %}" class="btn btn-warning">View Details</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No trade entries yet.</p>
        {% endif %}
    </div>

    {% else %}
        <div class="d-flex justify-content-center">
            <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}" class="">Create Account</a> to get started!</p>
        </div>

    {% endif %}

{% endblock %}