@media (min-width: 576px) {
    .nav-item.dropdown .dropdown-menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        transition: all 0.1s;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        visibility: visible;
        margin-top: 0;
        opacity: 1;
        margin-right: -0.9em;
    }
}

